* {
  font-family: 'helvetica';
}

.app {
  display: grid;
  place-items: center;
  min-height: 100vh;
  align-content: center;
}

img {
  height: 44px;
}

.input-element-wrapper {
  display: flex;
  align-items: center;
}

.login-field {
  color: #5f93f9;
  border-color: #5f93f9;
  border: 1px solid;
  width: 752px;
  height: 100px;
  border-radius: 15px;
  font-size: 2.25rem;
  text-align: left;
  padding-left: 2.8rem;
  margin-bottom: 45px;
}

.password-field {
  color: #5f93f9;
  border-color: #5f93f9;
  border: 1px solid;
  width: 752px;
  height: 100px;
  border-radius: 15px;
  font-size: 2.25rem;
  padding-left: 2.8rem;
  margin-left: -3rem;
}

.password-field:focus,
.login-field:focus {
  font-family: 'Arial';
  outline: none;
  border: 1px solid #5f93f9;
}

::placeholder {
  color: #5f93f9;
  opacity: 1;
  text-align: left;
}

.btn {
  padding: 0.6rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: -6.75rem;
  cursor: pointer;
}

.btn-login {
  color: #5f93f9;
  background-color: #d5e6ff;
  border: none;
  width: 800px;
  height: 100px;
  border-radius: 15px;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 45px;
  cursor: pointer;
  animation: offbtn 0.5s ease both;
  padding: 0;
}

.btn-login:hover {
  animation: onbtn 0.5s ease both;
}

@keyframes onbtn {
  0% {
    background-color: #d5e6ff;
    color: #5f93f9;
  }
  100% {
    background-color: #a4c8ff;
    color: white;
  }
}

@keyframes offbtn {
  100% {
    background-color: #d5e6ff;
    color: #5f93f9;
  }
  0% {
    background-color: #a4c8ff;
    color: white;
  }
}

@media (max-width: 900px) {
  * {
    font-size: 12px;
  }
  .login-field,
  .password-field {
    width: 500px;
    height: 70px;
  }
  .btn-login {
    width: 537px;
    height: 70px;
  }
  .login-field {
    margin-left: 0rem;
  }
  .password-field {
    margin-left: -2.6rem;
  }
  img {
    height: 34px;
  }
}
